* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

:root {
    --primary-dark: #261063;
    --primary: #3A1994;
    --primary-transparent: #3a19949a;
    --hero-text-color: #FF92C5;
}

body,
html {
    height: 100%;
}

.__btn-default {
    display: inline-block;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0px 6px 10px #00000029;
    width: 100%;
    max-width: 300px;
    padding: 15px 0;
    background: #FEC55E;
    transition: .2s ease-in-out;
}

.__btn-default:hover {
    color: #000;
    box-shadow: 0px 0 10px #00000029;
    transform: scale(1.05, 1.05);
}

.__contrast {
    color: var(--primary);
    font-weight: bold;
}


/* ==============::Header::============== */

.__header {
    background: var(--primary-dark);
    height: 80px;
}

.__header .navbar-brand {
    width: auto;
    height: 100%;
}

.__header .navbar-brand img {
    width: auto;
    height: 45px;
}

.__header .navbar-wpp {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}

.__header .navbar-wpp span {
    font-size: 2rem;
    margin-right: 15px;
}


/* ==============::Hero::============== */

.__hero-image {
    background-image: linear-gradient(var(--primary-transparent), var(--primary-transparent)), url("../images/main-hero_banner.jpg");
    height: 80%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.__hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.__hero-text h1 {
    color: #FFF;
    font-size: 3.6rem;
    font-weight: 400;
}

.__hero-text h1 strong {
    color: var(--hero-text-color);
    font-size: 3.6rem;
    font-weight: 400;
}


/* ==============::Cards Container::============== */

.__services-cards {
    background: #F8F8F8;
}

.__services-cards h2 {
    color: #000;
    font-size: 2rem;
    width: 50%;
    margin: 60px auto 0;
}

.__services-cards h2 span {
    color: #6A41DB;
    font-size: 2rem;
}

.__cards-container {
    margin: 30px 0;
}

.card {
    background: #FFF;
    min-width: 210px;
    width: 90%;
    max-width: 240px;
    height: 280px;
    border: none !important;
    box-shadow: 0px 3px 10px #00000029;
    margin: 15px;
}

.card-img-top {
    width: 70px !important;
    height: auto !important;
    margin-bottom: 25px;
}

.card-title {
    text-align: left;
    font: normal normal bold 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.__services-btn {
    display: inline-block;
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FFF;
    width: 100%;
    max-width: 320px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px #00000029;
    margin: 0 auto 60px;
    padding: 20px 0;
}

.__services-btn:hover {
    background-color: rgb(250, 250, 250);
}


/* ==============::Testimony Section::============== */

.__testimony-section {
    background: var(--primary-transparent);
    height: 70%;
}

.__testimony-section .__testimony-image-side .__testimony-image-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    height: 80%;
}

.__testimony-section .__testimony-text-side .__text-box {
    width: 80%;
    margin-bottom: 35px;
}

.__testimony-section .__testimony-text-side p {
    color: #FFF;
    font-size: 1.6rem;
}

.__testimony-section .__testimony-text-side small {
    color: rgb(220, 220, 220);
    font-size: 1.4rem;
}


/* ==============::know-more Section::General Structure============== */

.__know-more-section {
    background: #FFF;
    height: 70%;
    max-height: 430px;
}

.__know-more-section .__know-more-image-side img {
    width: 80%;
    margin: 0 auto;
}

.__know-more-section .__know-more-text-side .__text-box {
    width: 80%;
}

.__know-more-section .__know-more-text-side h3 {
    color: #000;
    font-size: 2.2rem;
    font-weight: bold;
}

.__know-more-section .__know-more-text-side p {
    color: #434343;
    font-size: 1.2rem;
}


/* ==============::know-more Section::First Impression::============== */

.__first-impression {
    background: rgb(98, 0, 255);
    background: linear-gradient(90deg, rgba(98, 0, 255, 0.7) 0%, rgba(202, 77, 255, 0.7) 100%);
}

.__first-impression-text {
    color: #FFF !important;
}

.__first-impression .__know-more-image-side {
    position: relative;
}

.__first-impression .__know-more-image-side img {
    width: 85%;
    max-width: 500px;
    position: absolute;
    bottom: -50px;
}


/* ==============::know-more Section::Consulting form============== */

.__form-consulting {
    background: var(--primary-dark);
    background-image: url(../images/12pw.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.__form-consulting .__know-more-form-side form {
    background: #FFF;
    width: 65%;
    border-radius: 4px;
    padding: 40px;
}

.__form-consulting .__know-more-form-side form h4 {
    color: #2C2C2C;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.__form-consulting .__know-more-form-side input,
.__form-consulting .__know-more-form-side button {
    border-radius: 0 !important;
    padding: 10px;
}

.__form-consulting .__know-more-form-side button {
    font-weight: 500;
    text-transform: uppercase;
    border: none !important;
    background: var(--primary-dark);
}

.__form-consulting .__know-more-form-side button:hover {
    background: var(--primary);
}


/* ==============::know-more Section::Music prodution============== */

.__music-prodution {
    background: rgb(255, 214, 139);
    background: linear-gradient(90deg, rgba(255, 214, 139, 1) 0%, rgba(251, 163, 0, 1) 100%);
}

.__music-prodution-btn {
    color: #FFF;
    background: var(--primary);
}

.__music-prodution-btn:hover {
    color: #FFF;
}

.__music-prodution .__know-more-image-side {
    position: relative;
}

.__music-prodution .__know-more-image-side img {
    width: 70%;
    max-width: 400px;
    position: absolute;
    bottom: 0;
}